<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Orders</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            padding: 20px;
            background-image: url("https://helios-i.mashable.com/imagery/articles/06Go9Vbhq1du0dJoo1bbZQ6/images-297.fill.size_2000x1125.v1629162609.jpg");
            background-size: cover;
        }
       
h1 {
  margin-bottom: 20px;
  font-size: 24px;
}


#home {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #f0f0f0;
  color: #333;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.order {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.order h3 {
  margin-top: 0;
  font-size: 20px;
}


.order p {
  margin-bottom: 10px;
  font-size: 16px;
}


form {
  display: inline-block;
  margin-right: 10px;
}

button[type="submit"] {
  padding: 5px 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}


a {
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
  text-decoration: none;
  color: #007bff;
}


.cancelled {
  font-size: 16px;
  color: #dc3545;
  font-weight: bold;
}


.no-orders {
  font-size: 16px;
  font-style: italic;
  color: #888;
}

</style>


</head>
<body>
  <h1>My Orders</h1>
  <a href="{% url 'home' %}" class="btn btn-secondary" id="home">Return to Home</a>

  {% if orders %}
    {% for order in orders reversed %}
    <div class="order">
        <h3>Order ID: {{ order.order_id }}</h3>
        <p>Order Date: {{ order.order_date }}</p>
        {% for order_item in order.orderitem_set.all %}
        <p>Product Name: {{ order_item.product.name }}</p>
        {% endfor %}
        <p>Total: {{ order.total_cost }}</p>
        {% if not order.is_cancelled %}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="order_id" value="{{ order.id }}">
                <button type="submit" class="btn btn-danger">Cancel Order</button>
            </form>
            <a href="{% url 'invoice' order.order_id %}">View Invoice</a>
        {% else %}
            <p class="cancelled">Order Cancelled</p>
        {% endif %}
    </div>
    {% endfor %}
{% else %}
    <p class="no-orders">No orders found.</p>
{% endif %}

</body>
</html>
