<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <div class="container">
        <h1>Order Confirmation</h1>
        <p>Thank you for your order! </p>
        <p>Your order ID is: {{ order.order_id }}</p>
        <p>Order Date & Time: {{ order.order_date }}</p>
        <p>Total Cost: {{ order.total_cost }}</p>

        <h3>Delivery Address</h3>
            <p>Address Line 1: {{ order.address.address_line_1 }}</p>
            <p>Address Line 2: {{ order.address.address_line_2 }}</p>
            <p>City: {{ order.address.city }}</p>
            <p>State: {{ order.address.state }}</p>
            <p>Postal Code: {{ order.address.zip_code }}</p>
            <p>Contact : {{order.address.mobile_number}}</p>

        <div class="btn-container">
            <a href="{% url 'invoice' order.order_id %}" class="btn btn-primary" id="invoice" target="_blank">View Invoice</a>

            <a href="{% url 'home' %}" class="btn btn-secondary" id="home">Return to Home</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

<style>
    body {
        background-color: #7baad9;
        font-family:'Times New Roman', Times, serif;
        background-image: url("https://sm.mashable.com/t/mashable_in/photo/default/we-have-made-it-easier-for-you-by-curating-a-list-of-some-of_zwx3.1248.jpg");
        background-size: cover;
    }

    .container {
        max-width:500px;
        
        padding:10px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        align-items: center;
        margin-top:100px;
        margin-left:550px;
       
        
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
        color: #4caf50;
    }

    p {
        margin-bottom: 10px;
        font-size: 18px;
        color: #555;
    }

    .btn-container {
        text-align: center;
        margin-top: 30px;
    }

    #invoice {
        padding: 10px 30px;
        margin: 10px;
        background-color: #4caf50;
        border: none;
        color: #fff;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    #home {
        padding: 10px 30px;
        margin: 10px;
        background-color: #1b57be;
        border: none;
        color: #fff;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .btn:hover {
        background-color: #45a049;
    }
</style>