<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Products</title>
    <link rel="stylesheet" href="rose/Cell_City/static/css/home.css">

    
</head>
<body>
  
  <header>    
  <nav class="navbar navbar-expand-lg navbar-dark bg-black">
        <div class="container-fluid">
          <img src="https://www.cellcitysarnia.com/image/cache/catalog/logo-269x203.png" alt="">
          
          <form class="d-flex" role="search" method="GET" action="{% url 'search_results' %}">
            <input class="form-control me-2" type="text" name="query" placeholder="Search...">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item" id="cart">
                <a class="nav-link " aria-current="page" href="{% url 'cart' %}">Cart<i class="fa-solid fa-cart-shopping"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'wishlist'%}">Wishlist<i class="fa-solid fa-heart"></i></a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home'%}">Home<i class="fa-solid fa-house"></i></a>
              </li>
              </li>
            </ul>        
          </div>
        </div>
      </nav>

</header>

    <h1>{{ brand.name }}</h1>
    
    <div class="container">
        <div class="row">
          {% for product in products %}
          <div class="col-md-4 col-sm-12">
            <div class="card">
              <a href="{% url 'product_detail' product.id %}">
              <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}">
              </a>
              <div class="card-body">
                <h3 class="card-title">{{ product.name }}</h3>
                <p class="card-text">Price  :  {{ product.price }}</p>

                <div class="buttons">
                <form action="{% url 'add_to_cart' product.id %}" method="POST">
                  {% csrf_token %}
                  <button class="btn btn-success add-to-cart" data-product-id="{{ product.id }}" type="submit">Add to Cart</button>
                 </form>
                 
                  <form action="{% url 'add_to_wishlist' product.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-success add-to-cart" button type="submit" id="button">Add to Wishlist</button>
                  </form>
                  </div>
                </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
</main>   
      <footer>
        <div class="footer">
          <div class="footer-content">
              <div class="footer-section feeback">
                  <p><center>Help us in serving you better<center> </p>
                  <p><a href="{% url 'feedback'%}" class="feedback">  Give Feedback </a></p>
              
              </div>
        
        <div class="footer">
          <div class="footer-section contact-form">
            <div class="contact">
                <span><i class="fa fa-phone"></i> &nbsp;987-654-123</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span><i class="fa fa-envelope"></i> &nbsp; info@Cell_City.com</span>
            </div><br>
            <div class="socials">
                <a href=""  style="color: white; text-decoration: none;" i class="fa-brands fa-facebook"></i></a>
                <a href="" style="color: white; text-decoration: none;" i class="fa-brands fa-instagram"></i></a>
                <a href="" style="color: white; text-decoration: none;" i class="fa-brands fa-twitter"></i></a>
                <a href="" style="color: white; text-decoration: none;" i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>     
      </div>
    
    <div class="footer-bottom">
        &copy; Cell_City.com | Designed by Cell_City Team<br>
        Copyright &copy 2023 Cell_City Online Private Limited, India. All rights reserved
    </div>
    </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    
    </body>
    </html>
      
      
      
<style>
        
body{
      background-color:rgb(219, 179, 217)
    }
    
#title{
    font-size: 50px;
    color: brown;
    margin-left:40px;
  }

.navbar {
    background-color: black;
    font-size: 20px;
    height: 120px;
   
  }

   .navbar-brand {
    margin-left: 20px;
    font-weight: bold;
  }

  .navbar-nav {
    margin-right:20px;
   
  }

  .nav-item {
    margin-right: 10px;
  }

  .d-flex{
    margin-left: 250px;
  }


#cart{
  margin-left: 200px;
}

.container {
  margin-top: 40px;

  
}

.card {
  margin-bottom: 20px;
  border: 1px solid #903838;
  border-radius: 5px;
  padding: 10px;
  background-color:tan;
  height:500px;
  align-items: center;
}

.card img {
  width: 95%;
  height:300px;
  object-fit: cover;
  border-radius: 5px;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  margin-bottom: 10px;
}

.add-to-cart {
  margin-top: 10px;
}

#button{
  margin-left:30px;
}
.buttons{
  display: flex;
}
    
.container
    {
        margin: 0 auto;
        position: relative;
        width: 90%;
        height: 40%;
        padding-bottom: 5%;
       
    }
    footer
  {
      background: #303036;
      color: #d3d3d3;
      height:40vh;
      position: relative;
    
  
  }
 .footer .footer-content .footer-section .contact-form .socials
  {
      text-decoration: none;
      
      color:white;
  }
.contact-form{
  text-align: center;
  margin-top:80px;
}
.footer-bottom{
  text-align: center;
  margin-top:25px;
}

.feedback
  {
      background-color:white;
      color:red;
      position: absolute;
      left:700px;
      padding: 10px;
      border: 1px solid white;
      border-radius: 200px;
      display: inline-block;
      text-decoration: none;
      margin-bottom:200px;
   
}
  
  .feedback:hover
  {
      background-color: #303036;
  }
      </style>

